@font-face {
  font-family: "Trickster";
  src: url("./assets/Aukera.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/source-code-pro-v23-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/source-code-pro-v23-latin-700.woff2") format("woff2");
}

:root {
  --font-size-title: 3.6em;
  --font-size-nav: 2em;
  --font-size-link: 1.2em;
  --font-size-subtitle: 2.4em;

  font-family: "Source Code Pro", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1em;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (max-width: 640px) {
    --font-size-title: 3em;
    --font-size-nav: 1.5em;
    --font-size-link: 1em;
    --font-size-subtitle: 1.5em;
  font-size: 0.9em;
  }
}

body {
  overflow: hidden;
}

a,
button {
  pointer-events: initial;
  cursor: pointer;
  font-family: "Source Code Pro", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Trickster", Arial, Helvetica, sans-serif;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: underline;
  
  opacity: 0.7;
  transition: opacity 0.3s linear;
}

a:hover {
  opacity: 1;
}

.link {
  font-family: "Trickster", Arial, Helvetica, sans-serif;
  background: transparent;
  border: none;
  opacity: 0.7;
  transition: opacity 0.3s linear;
}

.link:hover {
  opacity: 1;
}

.nav,
.back {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 5vh auto;

  button {
    font-size: 1.25rem;
    border: none;
    background: none;
  }
}

.back {
  position: fixed;
  top: 2em;
  left: 2em;
  margin: 0;
}
